@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Black+Han+Sans&display=swap');
@keyframes slideInRight {
    0% {
        margin-left: 130%;
    }
    25%{
        margin-left: 100%;
        transform : scale(0.7) rotate(0deg);
    }
    75% {
        transform : scale(0.7) rotate(-1deg) skewX(-2deg);
        margin-left: 0%;
    }
    95% {
        transform: scale(1.02);
    }
    100% {
        margin-left: 0%;
        transform : scale(1);
    }
}
@keyframes slideOutRight {
    0% {
        margin-left: 0%;
        margin-right: 0% ;
    }
    25%{
        transform : scale(0.7)
    }
    /* 50% {
        transform: scale(0.1);
    } */
    75% {
        transform : scale(0.7);
        margin-left: 100%;
        margin-right: -100%;
    }
    100% {
        margin-left: 100%;
        margin-right: -100%;
        transform : scale(1)
    }
}
@keyframes slideInLeft {
    0%{
        margin-right: 200%;
    }
    25% {
        transform : scale(0.7) rotate(0deg)
    }
    75% {
        transform : scale(0.7) rotate(1deg) skewX(2deg);
        margin-right : 0%
    }    
    85% {
        transform: scale(1.02);
    }
    100% {
        transform : scale(1);
        margin-right : 0%
    }
}
@keyframes slideOutLeft {
    0% {
        right: 0% ;
    }
    25% {
        transform: scale(0.7) ;
    }
    90% {
        transform: scale(0.7) ;
        right: 100%;
    }
    100%{
        right: 100%;
    }
}
@keyframes slideOutLeftM {
    0% {
        margin-right: 0% ;
    }
    25% {
        transform: scale(0.7) ;
    }
    90% {
        transform: scale(0.7) ;
        margin-left: -100%;
        margin-right: 100%;
    }
    100%{
        margin-left: -100%;
        margin-right: 100%;
    }
}
@keyframes dropDown {
    0% {
        transform: scaleY(0.1) translateY(-10%);
        max-height: 0;
      }
    75% {
        transform: scaleY(1.05);
    }
    100% {
        transform: scaleY(1);
        max-height: 500px;
    }
}
@keyframes dropUp {
    0% {
        transform: scaleY(1.05);
        max-height: 500px;
      }
    75% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
        max-height: 0;
    }
}
@keyframes slideUp {
    0% {
        margin-top: 100%;
    }
    75% {
        margin-top: -2%;
    }
    100% {
        margin-top: 0%;
    }
}
@keyframes slideDown {
    0% {
        margin-top: 0%;
    }
    15% {
        margin-top: -3%;
    }
    100% {
        margin-top: 200%;
    }
}
@keyframes blink {
    50% {background: var(--pointer--color);}
}
@keyframes brr {
    0%{
        margin-top: 0%;
    }
    20%{
        margin-top: -1%;
    }
    50% {
        margin-top: 0%;
    }
    80%{
        margin-top: -1%;
    }
    100%{
        margin-top: 0%;
    }
}

:root {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --header--color : #212940;
    --background--color  : #F2F2F2;
    --font--color : #324BD9;
    --detail--color : #212940;
    --pointer--color : #30BF45;
}
body {
    /* font-family: 'Akshar', sans-serif; */
    font-family: 'Black Han Sans', sans-serif;
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: var(--font--color);
    background-color: var(--background--color);
    align-content: center;
    flex-direction: column;
    align-items: center;
}
input {
    font-family: 'Akshar', sans-serif;
}
.view {
    max-width: 1024px;
    min-width: 280px;
    width: 100%;
    padding-bottom: 10vh;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.timer {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--header--color);
    font-size: 3vh;
    height: 5vh;
    padding-top: 2vh;
    text-align: center;
    padding-bottom: 2vh;
    font-weight: bolder;
}

/* Menu click */
.none {
    display: none;
    max-height: 0;
}
.detail {
    display: block;
}
.done {
    background-color: #05F258;
}





.contents {
    display: flex;
    width: 100%;
    padding-top: 11vh;
    flex-direction: column;
}
#contents_guide {
    /* padding-top: 9vh; */
    font-size: 3vh;
    padding-left: 3vh;
}
#workoutContents {
    max-width: 1024px;
}
#workoutRoutineName {
    font-size: 3vh;
    margin-left: 3vh;
}
.workoutCount {
    display: flex;
}

#workoutCountDisplay{
    width: 50%;
    display: flex;
    height: 1vh;
    border: 3px solid;
    margin-top: 1vh;
}
#workoutCountDisplay span{
    width: 100%;
    border-left: 2px solid;
    transition: background .5s ease;
}
#workoutCountDisplay .running{
    animation: blink 2s ease infinite;  
}
#workoutBox {
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 2vh;
}
#workoutBox span{
    margin: 3vh;
    padding: 1vh;
}
#startButton {
    color: var(--pointer--color);
    font-weight: bolder;
}

#cancelButton {
    color: red;
    font-weight: bolder;
}
#adjustBtn {
    margin-left: 1vh;
    margin-top: .2vh;
    font-size: 1.8vh;
}



.routines {
    width: 100%;
    margin: 0;
}
#routine_contents {
    background-color: var(--detail--color);
    color: var(--background--color);
    margin: 2vh;
    border: 1px solid;
    border-radius: 20px;
    padding: 2vh;
    list-style: none;
    font-size: 2vh;
}
#routine_count {
    right: 0;
}
#routine_text {
    margin: 1vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
}
#routine_btns {
    margin-top: 2vh;
    margin-bottom: 1vh;
    display: flex;
}
#routines_header {
    top: 0;
    max-width: 1024px;
    position: absolute;
    height: 9vh;
    background-color: var(--header--color);
    font-size: 3vh;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#routines_header ul {
    display: flex;
    flex-direction: column-reverse;
}
#routine_btns li {
    flex: 1;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    padding: .5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    transition: all ease .3s;
}
#routine_btns li:hover {
    box-shadow: 5px 5px 5px var(--pointer--color);
    transform: translateX(-2px)
}
.routines #routine_contents_margin {
    padding-top: 11vh;
}
#routine_detail {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1vh;
    overflow: hidden;
}
#routine_detail li {
    padding-top: .5vh;
    box-sizing: border-box;
}
#routineSetDisplay {
    font-weight: bolder;
    font-size: 2.5vh;
}
#add_routine {
    background: var(--detail--color);
    border-radius:1vh;
    padding: 1vh;
    color: var(--background--color);
    margin: 2vh;
    font-size: x-large;
    transition: all ease .3s;
}
#add_routine:hover{
    box-shadow: 3px 3px 3px var(--pointer--color);
}


#setting_header {
    position: sticky;
    top:0;
    display: flex;
    width: 100%;
    background-color: var(--header--color);
    font-size: 3vh;    
    justify-content: space-between;
}
#settingBox {
    margin: 3vh;
    font-size: 2vh;
}
#settingBox input{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
}
#routineNameSpan {
    border-bottom: 1px solid;
}
#setting_header li {
    padding: 2vh;
}
.settingBtn {
    display: flex;
    justify-content: flex-end;
}
.settingBtn span {
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: .5vh;
    padding-bottom: .5vh;
    margin-left: 1vh;
    border: 1px solid;
    border-radius: 10%;
    background-color: var(--header--color);
    transition: background-color .5s;
}
.settingBtn span:hover {
    background-color: var(--font--color);
}


#detail_body {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2vh;
}
#detailBox {
    margin: 2vh;
}
#detailBox input {
    margin: 1vh;
}
#detailSetBox {
    margin: 1vh;
}

#detail_body input {
    text-align: center;
    background-color: var(--background--color);
    color: var(--font--color);
    margin: 1vh;
    font-size: 2vh;
}
#detailToggle {
    width: 90%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 2vh;
    border: 1px solid;
    border-radius: 3vh;
    background-color: var(--header--color);
    transition: background-color ease 1s;
}

#detailToggle .on {
    background-color: var(--pointer--color);
    color: var(--background--color);
}
#detailToggle .off {
    color: --;
    background-color: var(--header--color);
}
#detailToggle li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid cornflowerblue; */
}
#detailToggle .off:hover {
    color: var(--pointer--color);
}
#detailToggle span{
    width: 100%;
    padding: 1vh;
}
.toggleTop span {
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}
.toggleBottom span {
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}
#detailToggle span:hover{
    cursor: pointer;
}
#detailData {
    display: flex;
    flex-direction: column;
}
#detailData input {
    width: 10vh;
}
#detailData .spreadDetail-on{
    padding: 1vh;
    margin: .5vh;
    border: 1px solid;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3vh;
}
.spreadDetail-on div {
    width: 10vh;
    height: 7vh;
    display: grid;
    grid-column: 1 / 3;
}
.spreadDetail-on div span {
    width: 3vh;
    padding: 0.3vh;
    border: 1px solid;
    margin-bottom: 0.3vh ;
    border-radius: 30%;
    box-shadow: 1px 1px 1px var(--font--color);
    transition: all ease .01s;
}
.spreadDetail-on div span:active{
    transform: translateY(3px);
    box-shadow: none;
}
.spreadDetail-on div span:hover{
    cursor: pointer;
}
.spreadDetail-on .a {
    grid-row: 1 / 2;
}
.spreadDetail-on .b {
    grid-row: 1 / 2;
}
.spreadDetail-on .c {
    grid-row: 2 / 3;
}
.spreadDetail-on .d {
    grid-row: 2 / 3;
}




/* CALENDARVIEW */
#calendar_header {
    background-color: var(--header--color);
    text-align: center;
    height: 9vh;
    position: inherit;
    line-height: 9vh;
    font-size: 3vh;
    font-weight: bolder;

}
.calendarToggle {
    position: inherit;
    display: flex;
    justify-content: space-evenly;
    margin: 3vh;
    font-size: 2vh;
}
.calendarToggle span{
    padding: 1vh;
    transition: all ease .3s;
}
.calendarToggle span:hover{
    transform: translateY(-.5vh);
}
#calendarBody {
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.calendarColumn {
    border: .5px solid;
    display: flex;
    justify-content: stretch;
    text-align: center;
    align-content: stretch;
    font-size: 2vh;
}
.calendarColumn div {
    width: 100%;
    padding: 1vh;
}
.prevMonth {
    background-color: gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.nextMonth {
    background-color: gray;   
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#calendar .routine_remove {
    display: inline;
    position: static;
    margin-left: 90%;
    padding-right: 1vh;
    padding-left: 1vh;
    border: 1px solid;
    border-radius: 10px;
    transition: all ease .3s;
}
#calendar .routine_remove:hover {
    box-shadow: 5px 5px 5px var(--pointer--color);
}
#calendarBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calendarDetailCover {
    width: 30vh;
    height: 10vh;
    text-align: center;
    font-weight: bolder;
    padding-top: 5vh;
    margin: 2vh;
}
#calendarDetail {
    width: 100%;
}
#calendarDetail .clickable{
    margin-bottom: 1vh;
}

.spreadDetail-on {
    display: flex;
    text-align: center;
}
.spreadDetail-off {
    display: none;
}

.bottom_menu {
    background-color: var(--header--color);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 2.5vh;
    font-weight: bolder;
    height: 7vh;
    padding-bottom: 0;
    color: var(--background--color);
}

.bottom_menu ul {
    display: flex;
}
.bottom_menu li {
    display: inline-block;
    width: 33%;
    text-align: center;
    border-radius: 30px;
    margin:10px;
    transition: background-color .3s;
}

.bottom_menu .active {
    background-color: var(--pointer--color);
}
.bottom_menu li:hover{
    background-color: var(--background--color);
    color:var(--header--color)
}


.exist {
    background-color: var(--header--color);
    border-radius: 5vh;
    transform: scale(0.7);
}
#selected {
    color: #05F258;
    text-decoration-line: underline;
}
.sun {
    color: #F20505;
}
.sat {
    color: #401E1E;
}
.routine_remove{
    color: red;
}
.routine_start {
    color: var(--pointer--color)
}

.nextMonth, .prevMonth, .nonexist, .timer, #contents_guide,#setting_center,#routineNameSpan,
#routines_header, #calendar_header, #currentDate, #detail_body:hover{
    cursor: default;
}
.exist, .dateToggle, .clickable, #adjustBtn, #workout_text,#clickable,#mainpageMenu,#routineMenu,#calendarMenu,
#startButton, #cancelButton, #tempStop, #endWorkout,#addWorkout,
.routine_remove, .routine_adjust, .routine_start, #setting_save,#setting_cancel,
#add_routine:hover {
    cursor: pointer;
}
